*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.border{
    border: 1px solid gray;
}

.d-flex{
    display: flex;
}

.container{
    max-width: 100%;
    
}

.admin1{
    width: 15%;
    padding: 10px;
    overflow: hidden;
    transition: width 2s;
    flex-wrap: wrap;
}

.admin-text{
    width: 100%;
    padding: 10px;
    justify-content: space-between;
   
}
.admin-text i{
    font-size: 30px;
}
.admin-text h1{
    font-size: 30px;
}

.admin2{
    width: 85%;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon-1{
    width:5%;
    padding: 10px;
    font-size: 20px;
    justify-content: space-between;
}

.icon-2{
    width:15%;
    padding: 10px;
    font-size: 20px;
    justify-content: space-between;
}

.container-2{
    max-width: 100%;
}

.admin-list{
    width: 15%;
    padding: 10px;
    overflow: hidden;
    transition: width 2s;
}

.list{
    padding: 10px;
    /* flex-wrap: wrap; */
}
.list i{
    font-size: 20px;
}
.list p{
    font-size: 20px;
    padding-left: 50px;
}

.hide{
    width: 3%;
}

.admin-map{
    width: 85%;
    padding: 10px;
}

.map1{
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.m1{
    border: 1px solid green;
    width: 22% ;
    height: 100px;
    background-color: beige;
}

.admin-map1{
    width:100% ;
    /* padding: 10px; */
}

.sub-map{
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.s-m1{
    width: 70%;
    border: 1px solid green;
    height: 500px;
    background-color: beige;
}
.s-m2{
    width: 30%;
    border: 1px solid green;
    height: 500px;
    background-color: beige;
}

.admin-graph{
    width: 100%;
}

.graph{
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graph-img{
    width: 55%;
    border: 1px solid green;
    height: 400px;

}

#chart{
    width: 100%;
    height: 350px;
}

.graph-data{
    width: 40%;
    border: 1px solid green;
    height: 400px;
}

.weather-table{
    width: 100%;
}

.main-table{
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table-1{
    width: 55%;
    border: 1px solid green;
    height: 400px;
    background-color: beige;
}

.table-2{
    width: 40%;
    border: 1px solid green;
    height: 400px;
    background-color: beige;
}