@media(max-width:991px){
    .m1{
        width: 50% ;
    }


}

@media(max-width:767px){
    .m1{
        width: 100%;
    }

    .s-m1{
        width: 100%;
    }

    .s-m2{
        width: 100%;
    }

    .graph-img{
        width: 100%;
    }

    .graph-data{
        width: 100%;
    }

    .table-1{
        width: 100%;
    }

    .table-2{
        width: 100%;
    }
}